NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
LEANX_BASE_URL=https://api.leanx.io
LEANX_AUTH_TOKEN=
LEANX_HASH_KEY=
LEANX_COLLECTION_UUID=
